.container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  overflow: hidden;
  min-width: 60rem;
  max-height: 35rem;
}

.view {
  background-color: var(--main-dark);
  color: #fff;
  border-radius: 4px;
}
